<%= form_for @teacher, :html => { :class => 'form-inline' } do |f| %>

<fieldset>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label t("teacher.name") %>
    <%= f.text_field :name %>
  </div>

  <div class="control-group">
    <%= f.label :discipline_id, t("form.discipline.label") %>
    <%= f.collection_select :discipline_id, @disciplines, :id, :name, :prompt => t("discipline.prompt_field")
    %>
  </div>

  <div class="actions">
    <%= f.submit t("form.submit"), :class => 'btn'%>
    <%= link_to t("actions.back"), teachers_path, :class => 'btn btn-primary' %>
  </div>
</fieldset>

<% end %>
