<%= form_for @course, :html => { :class => 'form-inline' } do |f| %>

<fieldset>

  <% if @course.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <label class="checkbox"><%= t("form.discipline.select") %></label>
    <% for discipline in Discipline.find(:all) %>
    <label class="checkbox">
      <%= check_box_tag "course[discipline_ids][]", discipline.id, @course.disciplines.include?(discipline) %>
      <%= discipline.name %> (<%= t("form.discipline.teacher") %> <%= discipline.teacher.try(:name) %>)
    </label>
    <% end %>
  </div>
</fieldset>

<div class="row-fluid">
  <%= link_to t("form.discipline.register"), new_discipline_path %>
</div>

<br/>
<div class="row-fluid">
  <div class="actions">
    <%= f.submit t("form.submit"), :class => 'btn' %>
    <%= link_to t("actions.back"), courses_path, :class => 'btn btn-primary' %>
  </div>
</div>

<% end %>
