<div class="row-fluid">
  <b><%= t("course.name") %>:</b>
  <%= @course.name %>
</div>

<div class="row-fluid">
  <b><%= t("course.disciplines") %>:</b>
  <ul class="unstyled">
    <% for discipline in @course.disciplines %>
      <li>
        <%= link_to discipline.name, edit_course_path(discipline.id) %>
      </li>
    <% end %>
  </ul>
</div>

<div class="row-fluid">
  <%= link_to t("actions.edit"), edit_course_path(@course), :class => 'btn btn-primary' %>
  <%= link_to t("actions.back"), courses_path, :class => 'btn btn-primary' %>
</div>
